<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOH|Registration</title>
    <link href="/Ssozi_Martin_Rukundo/coronavirus/public/css/bootstrap.css">
    <link href="/Ssozi_Martin_Rukundo/coronavirus/public/style.css">
</head>

<body>
    <div class="container-py-px-" width="50" height="80">
        <div class="card-header">
            <div class="card-body">
                <div class="card-title" style="text-align:center;">
                    <div class="row">
                        <div class="col-mb-5">
                            <img src="/set/images/header-images/uganda-flag-part.png" style=" left:0%;"> <br>
                        </div>
                        <div class="col-mb-2">
                            <img src="/set/images/header-images/uganda-coat_of_arms.png" width="200" height="auto"
                                style="text-align:center">
                        </div>
                        <div class="col-mb-5">
                            <img src="/set/images/header-images/uganda-flag-part.png" style="top:0%; right:0%;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-head">
                            <h3>Ministry of Health</h3>
                            <h2>COVID-19(CORONA VIRUS)</h2>
                            <h3>Virus Test Registration Form</h3>
                        </div>
                    </div>
                </div>
                <form action="">
                    <div class="card-body" style="text-align:center;">
                        <div class="row">
                            <div class="col">
                                <label for="" class="form-label">Surname</label> <br>
                                <input type="text" id="surname" />
                            </div>
                            <div class="col">
                                <label for="" class="form-label">Last Name</label> <br>
                                <input type="text" id="lastname" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="" class="form-label">Date of birth</label> <br>
                                <input type="date" id="dob" />
                            </div>
                            <div class="col">
                                <label for="" class="form-label">Place of residence</label> <br>
                                <input type="text" id="por" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="" class="form-label">Occupation</label> <br>
                                <input type="date" id="occupation" />
                            </div>
                            <div class="col">
                                <label for="" class="form-label">Nationality</label> <br>
                                <input type="text" id="nationality" />
                            </div>
                        </div>
                        <div class="tableRow">
                            <label>Gender:</label>
                            <div class="span"><input type="radio" value="male" name="gender"> Male</div>

                        </div>
                        <div class="tableRow">
                            <label></label>
                            <div class="span"><input type="radio" value="female" name="gender"> Female</div>

                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="" class="form-label">Category</label> <br>
                                <select class="select-input" id="category">
                                    <option value="default">--Select category--</option>
                                    <option value="beans">First</option>
                                    <option value="maize">Second</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>