<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/public/style.css">

</head>

<body>
    <div class="container">
        <div class="row centered-form">
            <div class="panel-heading">


            </div>
            <div class="col-xs-12 col-sm-8 ">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <img src="/public/images/header-images/form-header-image.png" width="200">
                        <h3>Ministry of Health</h3>
                        <h2 class="virus">COVID-19(CORONA VIRUS)</h2>
                        <h3>Virus - Test Registration Form</h3>
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Surname</label>
                                        <input type="text" name="surname_name" id="first_name"
                                            class="form-control input-sm" placeholder="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Given Name:</label>
                                        <input type="text" name="last_name" id="given_name"
                                            class="form-control input-sm" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth:</label>
                                        <input type="text" name="dob" id="dob" class="form-control input-sm"
                                            placeholder="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Place of Residence</label>
                                        <input type="text" name="residence" id="residence" class="form-control input-sm"
                                            placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Occupation</label>
                                        <input type="text" name="occupation" id="occupation"
                                            class="form-control input-sm" placeholder="">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Nationality</label>
                                        <input type="text" name="nationality" id="nationality"
                                            class="form-control input-sm" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="radio" value="sex" name="male" selected>Male

                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="radio" value="" name="female">Female
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <label>Category</label>
                                    <div class="form-group">

                                        <select class="form-select">
                                            <option name="default">select option</option>
                                            <option name="default">Home</option>
                                            <option name="default">Away</option>
                                            <option name="default">Outreach</option>
                                        </select>
                                    </div>
                                </div>
                        </form>
                    </div>

                    <input type="submit" value="Register" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>

</html>