.centered-form {
  margin-left: 100px;
  height: 200px
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);

}

.virus {
  margin-left: 100px;
  font-weight: bolder;
}

h2,
h3 {
  align-items: center;
  margin-left: 0 0 0 100px;

}

select {
  width: 100%
}

p.success {
  background: #28a745;
  padding: 10px;
  color: #fff;
  font-size: 15px;

}

img {
  width: 600px;
}