body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    margin-top: 5px;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
   
}

.logo img{
    width: 550px;
    margin-top: 4%;
}
.form-container{
    margin: 10px 10px;
    width: 600px;
    border: 1px solid gray;
    padding: -10px;
    margin-left: 28%;
   

}
.title{
    margin-top: 12px;
}
.title h4{
font-size: 25px;
font-weight: 900;
font-family:'Arial Narrow Bold', sans-serif;
}
.title h5{
    font-size: 18px;
    font-weight: 400;
}
.inputRow{
margin: 10px;
}

.col{
margin-bottom: -15px;
}

.col label{
    margin-left:-140px;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-start;
}
.col input{
outline-style:auto;
outline-style: none;
border-radius: 0px;
padding: 1px;
border: 2px solid rgb(76, 76, 76);
font-size: 16px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col input:focus{
    box-sizing: border-box;
    border: 3px solid #795DD9;
}
.dob{
    width:230px;
}
#residence{
    margin-left: -100px;
}
.radbtn{
   margin-left:30px ;
    
}
.radlabel{
margin-left: 80px;
}
#malerad{
    margin-left: -110px;
}
#cat{
outline-style:auto;
outline-style: none;
border-radius: 4px;
padding: 5px;
border: 2px solid rgb(76, 76, 76);
font-size: 16px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 9%;
width: 82%;
text-align: center;
}
.catlabel{
    margin-left: -220px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-start;

}
.but{
    margin-left: 61.5%;
    padding: 5px 0px;
    margin-top: 5px;
    
}
.btn{
    padding: 5px 40px;
    border: none;
    background-color: #694dc5;
    border-radius: 0px;
}
.btn:hover{
    background-color: #795DD9;
    border: none;
}
.showError{
    margin:5px 15px;
    color: red; 
    font-size: 11px;
    position: relative;
}


