<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technical Assessment</title>
    <link rel="stylesheet" href="/Eugene-Kisaakye/project-folder/public/bootstrap-5.1.3-dist/css/bootstrap.css">
</head>

<body>
    <div class="container">
        <img style="width: 100%; height: 100px;" src="../public/images/header-images/form-header-image.png" alt="">
        <div style="align-content:center;">
            <h2 style="width:50; margin: 0%; text-align: center;">Ministry Of health</h2>
            <h1 style="width:50; margin: 0%; text-align: center;">Covid-19 (Corona Virus)</h1>
            <h2 style="width:50; margin: 0%; text-align: center;">Virus -Test Registration Form</h2>
        </div>
        <form action="" method="post" >
            <div class="row">
                
                
                        <div class="col-6" style="margin: 0%;">
                            <label style="margin: 0%;" for="surname" class="form-label">Surname</label>
                            <input style="margin: 0%; width: 80%; margin-right: 0%; padding-bottom: 5px; " name="surname" type="string" class="form-control" placeholder="surname" id="surname" required />
                            <label style="margin: 0%;" for="dateOfBirth" class="form-label">Date of Birth</label>
                            <input style="margin: 0%; width: 80%; margin-right: 0%; padding-bottom: 5px; " name="dateOfBirth" type="date" class="form-control" placeholder="Date Of Birth" id="dateOfBirth" required />
                            <label style="margin: 0%;" for="occupation" class="form-label">Occupation</label>
                            <input style="margin: 0%; width: 80%; margin-right: 0%; padding-bottom: 5px; " name="occupation" type="string" class="form-control" placeholder="Occupation" id="occupation" required />  
                        </div>
                        <div class="col-6" style="float: right;">
                            <label style="margin: 0%;" for="surname" class="form-label">Given Name</label>
                            <input style="margin: 0%; width: 80%; margin-right: 0%; padding-bottom: 5px; " name="givenName" type="string" class="form-control" placeholder="Given Name" id="givenName" required />
                            <label style="margin: 0%;" for="dateOfBirth" class="form-label">Place Of Residence</label>
                            <input style="margin: 0%; width: 80%; margin-right: 0%; padding-bottom: 5px; " name="placeOfResidence" type="string" class="form-control" placeholder="Place of Residence" id="placeOfResidence" required />
                            <label style="margin: 0%;" for="occupation" class="form-label">Nationality</label>
                            <input style="margin: 0%; width: 80%; margin-right: 0%; padding-bottom: 5px; " name="nationaity" type="string" class="form-control" placeholder="Occupation" id="nationaity" required />  
                        </div>     
                               
            </div>
            <button class="btn-lg btn-primary">SUBMIT</button>
        </form>
    </div>
    <script src='/Eugene-Kisaakye/project-folder/public/bootstrap-5.1.3-dist/js/bootstrap.bundle.js'></script>
</body>

</html>