.container{ 
 position: static;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
    height: 600px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    border-style: solid;
    border-color:black;
    border-width:thin; 
    margin-left:200px;
    }

h3{
    color:black;
    text-align:center;
    text-decoration: solid;
    font-size:25px;
}
h4{
    color:black;
    text-align:center;
    text-decoration: solid;
    font-size:20px;
}
/* table{
    width: 400px;
} */
/* th, caption{
    text-align: left;
} */
/* table,th,td{
    border: 1px solid black;
    border-collapse: collapse;

} */

  /* th,td{
    margin-top: 150px;
 border-collapse: collapse; 
    padding: 10px;
    
}  */

/* tr:nth-child(even){
    background-color: #add;

} */
button{
    margin-top:10px;
};

.one{
    color: red;
}
.two{
    color: red;
}

.three{
    color: red;
};

.four{
    color: red;
}

.five{
    color: red;
};

.six{
    color: red;
}
.seven{
    color: red;
}